@media (max-width: 1330px) {
    .header__logo-link {
        margin-left: 0;
    }
}
@media (max-width: 1200px) {
    body {
        font-size: 14px;
    }    
    header,
    section,
    footer {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header__menu-link,
    .input_text, 
    textarea,
    .tabs__selector,
    .contact-us__form__label {
        font-size: 1em;
    }
    .header > .container,
    .banner > .container,
    .social-media > .container,
    .tabs__tab,
    .benefits__list,
    .pricing__options,
    .reviews__author__information,
    .contact-us__form,
    .footer__icons__list {
        column-gap: 20px;
    }
    .header > .container::before,
    .banner > .container::before {
        content: '';
        flex: 1;
    }
    .header__logo-block {
        flex: 4;
    }
    .banner__logo-img {
        width: 115px;
        margin-top: 15px;
    }
    h1,
    .pricing__option__price {
        font-size: 2.57em;
    }
    .banner > .container::before {
        content: '';
        flex: 1;
    }
    .banner__description {
        flex: 6;
    }    
    .banner__title {
        margin-bottom: 30px;        
    }
    .banner__title::after {
        width: 115px;
        margin-top: 45px;
    }
    .banner__text {
        max-width: 50%;
    }
    button, 
    .input_submit,
    .pricing__option__description-text,
    .pricing__option__item,
    .footer__copyright {
        font-size: 1.28em;
    }
    .banner__button {
        margin-top: 12px;
        max-width: 180px;
        line-height: 46px;
    }
    .banner__form__submit {
        font-size: 1.07em;
        margin-top: 55px;
    }
    .social-media__title {
        margin: 10px 0 25px;
    }
    .social-media__icons__list {
        margin-top: 25px;
    }
    .icons__link {
        width: 64px;
        height: 64px;
        line-height: 64px;
    }
    .tabs {
        padding-top: 50px;
    }
    .tabs__selector {
        width: 170px;
    }
    .tabs__description-block {
        padding: 30px 0 50px 80px;
    }
    .tabs__button {
        margin-top: 20px;
        max-width: 230px;
    }
    h2,
    .pricing__option__title {
        font-size: 1.71em;
    }
    .section__title,
    .section__title::after {
        margin-top: 45px;        
    }
    .section__title {
        margin-bottom: 30px;
    }
    .section__title::after {
        width: 140px;
    }
    .section__description-text {
        margin-bottom: 30px;
    }
    .benefits__list-item {
        padding-top: 35px;
    }
    .benefits__icon-block {
        width: 80px;
        height: 80px;
        line-height: 80px;
        margin-bottom: 65px;
    }
    .benefits__icon {
        transform: scale(0.85);
    }
    h4 {
        margin-bottom: 30px;
    }
    .pricing__options {
        margin-top: 50px;
    }
    .pricing__option__title {
        line-height: 52px;
    }
    .pricing__option__price {
        line-height: 88px;
    }
    .pricing__option__description-text,
    .pricing__option__item {
        line-height: 43px;
    }
    .reviews__author__message {
        height: 180px;
    }
    .reviews__author__avatar-img {
        width: 65px;        
    }
    .reviews__author__name {
        margin: 10px 0 15px;
    }
    .reviews__author__post {
        margin-bottom: 10px;
    }
    .stylish__description-text {
        margin: 30px 0;
    }
    .stylish__button {
        max-width: 320px;
    }
    .contact-us__description-text {
        margin-bottom: 60px;
    }
    .contact-us__form__required, 
    .contact-us__form__message {
        width: calc(50% - 10px);
    }
    .contact-us__form__submit {
        max-width: 320px;
    }
    .footer__icons__link {
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
}
@media (max-width: 992px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header > .container {        
        position: initial;        
    }
    .header > .container::before, 
    .banner > .container::before {
        content: none;
    }
    .header__logo-link {
        height: 55px;
        line-height: 55px;
    }
    .header__logo-img {
        max-height: 22px;
    }
    .header__menu-toggle {
        display: block;        
    }
    .header__menu-block {    
        display: initial;
        position: absolute;
        top: 55px;
        left: 0;
        background: var(--secondary-background);
        width: calc(100% - 40px);
        height: 0;
        overflow: hidden;
        transition: 0.4s;
        padding: 0 20px;
    }
    .header__menu-list,
    .banner > .container,
    .social-media > .container,
    .benefits__list,
    .pricing__options,
    .reviews__authors,
    .contact-us__form {
        flex-direction: column;        
    }
    .header__menu-link {
        line-height: 65px;        
    }
    .header__menu-link,
    .banner__title,
    .banner__text,
    .social-media__description,
    .tabs__description {
        text-align: center;
    }
    .banner {
        padding-top: 85px;
        padding-bottom: 50px;
    }
    .banner__logo-img {
        display: none;
    }
    .banner__title {
        margin: 0 0 40px;
    }
    .banner__title::after {
        margin: 45px auto 0;
    }
    .banner__text {
        max-width: 100%;
    }
    .banner__button,
    .tabs__button,
    .stylish__button,
    .contact-us__form__submit {        
        max-width: 300px;        
    }
    .tabs__button,
    .contact-us__form__submit {
        line-height: 50px;
    }
    .banner__button {
        display: block;
        margin: 40px auto 55px;
    }
    .banner__form {
        padding: 30px 20px 0;
    }    
    .banner__form__title {        
        margin-bottom: 20px;
    }
    .banner__form__submit {
        margin-top: 40px;
    }
    .social-media__title {
        margin: 40px 0 25px;
    }
    .social-media__icons__list {
        margin: 16px 0 45px;
    }
    .icons__list {
        justify-content: center;
        column-gap: 15px;
    }
    .icons__list-item {
        width: 10%;        
    } 
    .icons__link {
        width: 100%;
    }
    .tabs {
        padding-top: 40px;
    }
    .tabs__image {
        display: none;
    }
    .tabs__description-block {
        padding: 35px 20px 30px;
    }
    .tabs__selector {
        width: 33%;
        padding: 0;
    }
    .tabs__title {
        margin-bottom: 60px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .tabs__text {
        margin-bottom: 15px;
    }
    .tabs__button {
        margin-top: 15px;
    }
    .section__title {
        margin-bottom: 25px;
    }
    .benefits {
        padding-top: 0;
    }
    .section__description-text {
        margin-bottom: 25px;
    }
    .benefits__description-text {
        margin-bottom: 50px;
    }
    h4 {
        margin-bottom: 35px;
    }
    .pricing {
        padding-top: 1px;
        padding-bottom: 0;
    }
    .pricing__options {
        align-items: initial;
        margin-top: 0;
    }
    .pricing__option,
    .pricing__option:nth-child(2) {
        margin: 0 0 25px;
    }
    .pricing__option__description-text,
    .pricing__option__item {
        line-height: 40px;
    }
    .reviews {
        padding-top: 0;
        padding-bottom: 30px;
    }
    .reviews__author {
        display: none;
    }
    #reviews__dots__radio_1:checked ~ .reviews__authors .reviews__author-1,
    #reviews__dots__radio_2:checked ~ .reviews__authors .reviews__author-2,
    #reviews__dots__radio_3:checked ~ .reviews__authors .reviews__author-3 {
        display: block;
    }
    .reviews__author__message {
        margin-bottom: 60px;
    }
    .reviews__author__avatar-img {
        width: 60px;
    }
    .reviews__author__name {
        margin: 15px 0 15px;
    }
    .reviews__dots {
        display: flex;
    }
    .stylish {
        padding-top: 1px;
        padding-bottom: 60px;
    }
    .stylish__description-text {
        margin-bottom: 60px;
    }
    .stylish__button {
        line-height: 46px;
    }
    .contact-us {
        padding-top: 1px;
        padding-bottom: 40px;
    }
    .contact-us__description-text {
        margin-bottom: 50px;
    }
    .contact-us__form__required, 
    .contact-us__form__message {
        width: 100%;
    }
    .contact-us__form__item,
    .contact-us__form__item:last-child {
        margin-bottom: 35px;
    }
    .contact-us__form__textarea {
        height: 170px;
    }
    .footer {
        padding-top: 35px;
        padding-bottom: 45px;
    }
    .footer__copyright {
        margin-top: 40px;
    }
}
@media (max-width: 576px) {
    .banner__form__title,
    .pricing__option__description-text,
    .pricing__option__item,
    .reviews__author__name {
        font-size: 1em;
    }
    h3,
    .pricing__option__title {
        font-size: 1.28em;
    }
    .pricing__option__title {
        line-height: 45px;        
    }
    .pricing__option__price {
        line-height: 76px;
        font-size: 1.71em;        
    }
    .pricing__option__description-text,
    .pricing__option__item {
        line-height: 37px;
    }
    .reviews__author__post {
        font-size: 0.93em;
    } 
    .icons__list-item {
        width: auto;
    } 
    .icons__link {
        width: 26px;
        height: 26px;
        line-height: 26px;    
    } 
}