.banner {
    position: relative;
    padding: 200px 0 185px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/banner.webp);
    background-repeat: no-repeat;
    background-position: center bottom;
    color: #fff;
}
.banner__description {
    width: calc(7 / 12 * 100%);
}
.banner__logo-img {
    width: 170px;
}
.banner__title {
    margin: 50px 0 45px;    
}
.banner__title::after {
    content: '';
    display: block;
    width: 170px;
    border-top: 1px solid #fff;
    margin-top: 65px;
}
.banner__text {
    max-width: 40%;
}
.banner__button {
    margin-top: 40px;
}