.banner {
    position: relative;
    padding: 200px 0 185px;
    background-image: url(../images/banner.webp);
    background-repeat: no-repeat;
    background-position: center bottom;
}
.banner::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}