.banner {
    position: relative;
    padding: 200px 0 185px;
    background-image: url(../images/banner.webp);
    background-repeat: no-repeat;
    background-position: center bottom;
    color: #fff;
}
.banner::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
.banner > .container {
    position: relative;
    z-index: 1;
}
.banner__description {
    width: calc(7 / 12 * 100%);
}
.banner__logo-img {
    width: 170px;
}
.banner__title {
    margin: 50px 0 45px;    
}
.banner__title::after {
    content: '';
    display: block;
    width: 170px;
    border-top: 1px solid #fff;
    margin-top: 65px;
}
.banner__text {
    max-width: 40%;
}
.banner__button {
    margin-top: 40px;
}