body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;    
    font-size: 18px;
    margin: 0;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 2.66em;
    text-transform: uppercase;
}
h2 {
    font-size: 2em;
    font-weight: 400;
}
h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
} 
h3 {    
    font-size: 1.66em;
    margin-bottom: 42px;
}
h4 {
    font-size: 1.33em;
}
h5 {
    font-weight: 400; 
    font-size: 1em;
}
section {
    padding: 50px 0;
}
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.section__title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    line-height: 150px;
    margin-bottom: 40px;
}
.section__title::after {
    content: '';
    display: block;
    margin: auto;
    width: 170px;
    border-bottom: 1px solid var(--primary-color);
}
.section__description-text {
    color: #86878B;
    text-align: center;
    margin: 40px 0 95px;
}
button,
.input_submit {
    cursor: pointer;
    padding: 0;
    line-height: 60px;
    width: 100%;
    max-width: 270px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: #fff;
    transition-duration: .1s;
}
.button_filled,
.input_submit {
    background-color: var(--primary-color);
    border: 0;
    outline: none;
}
.button_filled:hover,
.button_filled:focus-visible,
.input_submit:hover,
.input_submit:focus-visible {
    background-color: var(--secondary-color);
}
.button_filled:active,
.input_submit:active {
    background-color: var(--primary-color);
    box-shadow: 0 0 10px var(--secondary-color) inset;
}
.button_outline {
    border: 2px solid #fff;
    background: none;
}
.button_outline:hover,
.button_outline:focus-visible {
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.button_outline:active {
    color: #fff;
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
}
.banner__form__item,
.banner__form__item .input_text {
    display: inline-block;
    width: 100%;
}
.banner__form__item {
    margin-bottom: 20px;
}
.input_text {
    padding: 0;
    line-height: 50px;
    border: 0;    
    outline: none;    
}
.input_text,
textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.77em;    
}
.input_text::placeholder {
    color: #BDBDBD;
}