html {
    min-width: 320px;
}
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;    
    font-size: 18px;
    margin: 0;
    background-color: $primary-background;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 2.66em;
    text-transform: uppercase;
}
h2 {
    font-size: 2em;
    font-weight: 400;
}
h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
} 
h3 {    
    font-size: 1.66em;
    margin-bottom: 42px;
}
h4 {
    font-size: 1.33em;
    margin-bottom: 40px;
}
h5 {
    font-weight: 400; 
    font-size: 1em;
}
section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.container {    
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.columns {
    display: flex;
    column-gap: 30px;
    @media (max-width: 1200px) {        
            column-gap: 20px;
    }
}
.section__title {
    text-align: center;
    text-transform: uppercase;
    margin: 50px 0 40px;
    &::after {
        content: '';
    display: block;
    margin: 55px auto 0;
    width: 170px;
    border-bottom: 1px solid $primary-color;
    }    
}
.section__description-text {
    color: $gray-text;
    text-align: center;
    margin: 0px 0 80px;
}
button,
.input_submit {
    cursor: pointer;
    padding: 0;
    line-height: 60px;
    width: 100%;
    max-width: 270px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: $secondary-text;
    transition-duration: .1s;
}
.button_filled,
.input_submit {
    background-color: $primary-color;
    border: 0;
    outline: none;
}
.button_filled:hover,
.button_filled:focus-visible,
.input_submit:hover,
.input_submit:focus-visible {
    background-color: $secondary-color;
}
.button_filled:active,
.input_submit:active {
    background-color: $primary-color;
    box-shadow: 0 0 10px $secondary-color inset;
}
.button_outline {
    border: 2px solid $primary-background;
    line-height: 56px;
    background: none;
}
.button_outline:hover,
.button_outline:focus-visible {
    color: $primary-color;
    border-color: $primary-color;
}
.button_outline:active {
    color: $secondary-text;
    border-color: $secondary-color;
    background-color: $secondary-color;
}
.input_text {
    padding: 0;
    line-height: 50px;
    border: 0;    
    outline: none;    
}
.input_text,
textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.77em;    
}
.input_text::placeholder {
    color: $form-color;
}
.icons__list {
    margin: 35px 0 0;
    padding: 0px;    
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.icons__link {
    display: block;
    width: 70px;
    line-height: 70px;
    text-align: center;
}
.icons__icon {
    vertical-align: middle;
    max-width: 75%;
    max-height: 75%;
}


