.benefits {
    @media (max-width: 992px) {
        padding-top: 0;
    }
    &__description-text {
        @media (max-width: 992px) {
            margin-bottom: 50px;
        }    
    }
    &__list {
        list-style-type: none;
        text-align: center;
        padding: 0;
        margin: 0;
        @media (max-width: 992px) {
            flex-direction: column;
        }
    }
    &__list-item {
        padding: 30px 0 0;
        transition: 0.2s;
        @media (max-width: 1200px) {
            padding-top: 35px;
        }
        &__description-text {
            margin-bottom: 10px;
        }
        &:hover .benefits__icon-block {
            transform: scale(1.25);
        }
        &:hover .benefits__icon {
            transform: scale(0.90);
        }        
    }
    &__icon-block {
        width: 90px;
        height: 90px;
        line-height: 90px;
        border: 1px solid $primary-color;
        border-radius: 50%;    
        margin: 0 auto 74px auto;
        text-align: center;
        transition: 0.2s;
        transition-timing-function: ease-in-out;
        @media (max-width: 1200px) {
            width: 80px;
            height: 80px;
            line-height: 80px;
            margin-bottom: 65px;
        }
    }
    &__icon {
        vertical-align: middle;
        transition: 0.2s;
        transition-timing-function: ease-in-out;
        @media (max-width: 1200px) {
            transform: scale(0.85);
        }
    }
}