.benefits__list {
    display: flex;
    list-style-type: none;
    text-align: center;
    padding: 0;
}
.benefits__list-item {
    padding: 15px;
}
.benefits__icon-block {
    width: 90px;
    height: 90px;
    line-height: 90px;
    border: 1px solid #EC7979;
    border-radius: 50%;    
    margin: 0 auto 74px auto;
    text-align: center;
}
.benefits__icon {
    vertical-align: middle;
}
.benefits__list-item:hover .benefits__icon {
    transform: rotate(360deg);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}