.contact-us {
    &__description-text {
        margin-bottom: 70px;
    }
    &__form {
        flex-wrap: wrap;
        &__required,
        &__message {
            width: calc(50% - 15px);
        }
        &__item {
            display: flex;
            flex-direction: row-reverse;
            margin-bottom: 40px;
            position: relative;
            &:last-child {
                margin-bottom: 0;
            }
            & .input_text {
                flex: 1;
                margin-left: 15px;
            }
        }
        &__label {
            line-height: 50px;
            font-size: 0.77em;
            color: $form-color;
            &[for="message"] {
                display: block;
            }            
            &[for="message"]::after {
                content: none;
            }
            &::after {
                content: '';
                display: block;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: -1px;
            }
        }    
        &__submit {
            max-width: 370px;
            margin: 50px auto 0;
        }    
        &__textarea {
            width: 100%;
            height: calc(100% - 50px);
            padding: 0;
            resize: none;
            border: 0;
            outline: none;
        }
        &__label::after,
        &__textarea {
            border-bottom: 1px solid $form-color;
        }        
        &__item .input_text:focus + .contact-us__form__label::after,
        &__textarea:focus {
            border-color: $primary-color;
        }        
    }
}