@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    src: local('Raleway'), url('../fonts/Raleway-Regular.woff') format('woff');    
}
@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    src: local('Raleway Medium'), url('../fonts/Raleway-Medium.woff') format('woff');    
}
@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    src: local('Raleway Bold'), url('../fonts/Raleway-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: local('Open Sans'), url('../fonts/OpenSans-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    src: local('Open Sans SemiBold'), url('../fonts/OpenSans-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: local('Open Sans Bold'), url('../fonts/OpenSans-Bold.woff') format('woff');
}