.footer {
    background-color: #000;
    padding: 35px 25px;
}
.footer__icons__list {
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 30px;
}
.footer__icons__link {
    width: 55px;
    line-height: 55px;
}
.footer__icons__icon {
    transform: scale(0.75);
}
.footer__copyright {
    color: #fff;
    opacity: 0.5;
    text-align: center;
    margin-top: 15px;
}