.footer {
    background-color: var(--secondary-background);
    padding: 30px 0px;
}
.footer__icons__list {
    margin: 0;
    padding: 0;
    justify-content: center;
    column-gap: 30px;
}
.footer__copyright {
    color: var(--secondary-text);
    opacity: 0.5;
    text-align: center;
    margin-top: 30px;
}
.footer__icons__link {
    width: 55px;
    height: 55px;
    line-height: 55px;
}