.footer {
    background-color: $secondary-background;
    padding-top: 30px;
    padding-bottom: 30px;
    &__icons__list {
        margin: 0;
        padding: 0;
        justify-content: center;
        column-gap: 30px;
    }
    &__copyright {
        color: $secondary-text;
        opacity: 0.5;
        text-align: center;
        margin-top: 30px;
    }
    &__icons__link {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }
}