.header {
    background-color: #000;
    position: sticky;
    z-index: 3;
    top: 0;
}
.header > .container {
    display: flex;
    justify-content: flex-end;
}
.header__menu-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header__menu-link {
    display: block;
    padding: 0 30px;
    line-height: 75px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.77em;
    color: #fff;
    text-decoration: none;
    transition-duration: .2s;
}
.header__menu-link:hover {
    color: #EC7979;
}
.header__logo-block {
    flex: 1;
}
.header__logo-link {
    display: inline-block;
    height: 76px;
    line-height: 76px;
    margin-left: -50px;
}
.header__logo-img {
    vertical-align: middle;
    max-height: 30px;
    width: auto;
    transition-duration: .2s;
}
.header__logo-link:hover .header__logo-img {
    transform: translateX(10px);
}