.header {
    background-color: $secondary-background;
    position: sticky;
    z-index: 3;
    top: 0;
    &__menu-list {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    &__menu-link {
        display: block;
        padding: 0 30px;
        line-height: 76px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 0.77em;
        color: $secondary-text;
        text-decoration: none;
        transition-duration: .1s;
        &:hover,
        &:focus-visible {
            background: $primary-color;
            outline: none;
        }
        &:active {
            background: $secondary-color;    
        }
    }
    &__logo-block {
        flex: 5;
    }
    &__logo-link {
        display: inline-block;
        height: 76px;
        line-height: 76px;
        margin-left: -50px;
        &:hover .header__logo-img {
            transform: translateX(10px);
        }
    }
    &__logo-img {
        vertical-align: middle;
        max-height: 30px;
        width: auto;
        transition-duration: .2s;
    }
    &__checkbox {
        display: none;
        &:checked ~ .header .header__menu-block {
            height: calc(100vh - 55px);
        }
        &:checked ~ section,
        &:checked ~ footer {
            display: none;
            transition-delay: .4s;
        }
        &:checked ~ .header .header__menu-toggle__line {
            background: none;
        }
        &:checked ~ .header .header__menu-toggle__line::before,
        &:checked ~ .header .header__menu-toggle__line::after {
            margin: 0;
        }
        &:checked ~ .header .header__menu-toggle__line::before {
            transform: rotate(-45deg);
        }
        &:checked ~ .header .header__menu-toggle__line::after {
            transform: rotate(45deg);
        }
    }
    &__menu-block {
        display: flex;
        justify-content: flex-end;
        flex: 7;
    }
    &__menu-toggle {
        display: none;
        width: 55px;
        height: 55px;
        position: relative;
        &__line,
        &__line::before,
        &__line::after {
            display: inline-block;
            width: 24px;
            height: 3px;
            background-color: $primary-background;
            position: absolute;
            top: calc(50% - 1.5px);
            left: calc(50% - 12px);
            transition: 0.2s;
        }
        &__line::before,
        &__line::after {
            content: '';
        }
        &__line::before {
            margin-top: -8px;
        }
        &__line::after {
            margin-top: 8px;
        }
    }    
}