.header {
    background-color: var(--secondary-background);
    position: sticky;
    z-index: 3;
    top: 0;
}
.header > .container {
    display: flex;
    justify-content: flex-end;
}
.header__menu-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header__menu-link {
    display: block;
    padding: 0 30px;
    line-height: 76px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 0.77em;
    color: var(--secondary-text);
    text-decoration: none;
    transition-duration: .1s;
}
.header__menu-link:hover,
.header__menu-link:focus-visible {
    background: var(--primary-color);
    outline: none;
}
.header__menu-link:active {
    background: var(--secondary-color);    
}
.header__logo-block {
    flex: 1;
}
.header__logo-link {
    display: inline-block;
    height: 76px;
    line-height: 76px;
    margin-left: -50px;
}
.header__logo-img {
    vertical-align: middle;
    max-height: 30px;
    width: auto;
    transition-duration: .2s;
}
.header__logo-link:hover .header__logo-img {
    transform: translateX(10px);
}
.menu-toggle-checkbox {
    display: none;
}
.header__menu-toggle {
    display: none;
    width: 55px;
    height: 55px;
    position: relative;
}
.header__menu-toggle__line,
.header__menu-toggle__line::before,
.header__menu-toggle__line::after {
    display: inline-block;
    width: 24px;
    height: 3px;
    background-color: var(--primary-background);
    position: absolute;
    top: calc(50% - 1.5px);
    left: calc(50% - 12px);
    transition: 0.2s;
}
.header__menu-toggle__line::before,
.header__menu-toggle__line::after {
    content: '';
}
.header__menu-toggle__line::before {
    margin-top: -7px;
}
.header__menu-toggle__line::after {
    margin-top: 7px;
}
.menu-toggle-checkbox:checked ~ .header__menu-block {
    height: 100vh;
}
.menu-toggle-checkbox:checked ~ .header__menu-toggle .header__menu-toggle__line {
    background: none;
}
.menu-toggle-checkbox:checked ~ .header__menu-toggle .header__menu-toggle__line::before,
.menu-toggle-checkbox:checked ~ .header__menu-toggle .header__menu-toggle__line::after {
    margin: 0;
}
.menu-toggle-checkbox:checked ~ .header__menu-toggle .header__menu-toggle__line::before {
    transform: rotate(-45deg);
}
.menu-toggle-checkbox:checked ~ .header__menu-toggle .header__menu-toggle__line::after {
    transform: rotate(45deg);
}