.pricing {
    background-color: $primary-gray;
    &__options {
        align-items: flex-start;
    }
    &__option {
        flex: 1;
        text-align: center;
        &:nth-child(2) {
            margin-top: -20px;
            box-shadow: 0 4px 10px rgba(51, 51, 51, 0.2);
        }
        &__title,
        &__price,
        &__description-text {
            color: $secondary-text;
            background-color: $dark-color;
            border: 1px solid $primary-gray;
            margin: 0;
        }
        &__title {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 1.33em;
            line-height: 58px;
        }
        &__price {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 2em;
            line-height: 98px;
        }
        &__description-text {
            line-height: 48px;
            color: $half-opacity-white;    
        }
        &__items-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        &__item {
            background-color: $primary-background;
            color: $gray-text;
            line-height: 48px;
            border: 1px solid $primary-gray;
        }
    }
}