.reviews {
    &__content {
        display: flex;
        flex-direction: column-reverse;
    }
    &__author {
        flex: 1;
        &__message {
            height: 180px;
            margin-bottom: 65px;
            display: flex;
            align-items: center;
            background-color: $secondary-gray;
            border-radius: 10px;
            padding: 0px 20px;
            position: relative;
            &::after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-top: 20px solid $secondary-gray;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                position: absolute;
                bottom: -20px;
                left: 16%;
            }
        }
        &__message-text {
            color: $gray-text;
            text-align: center;
            margin: 0;
        }
        &__information {
            display: flex;
            column-gap: 30px;
        }
        &__name {
            margin: 15px 0 25px;
        }
        &__post {
            margin: 0 0 15px;
        }
    }
    &__dots {
        display: none;
        column-gap: 50px;
        justify-content: center;
        margin-top: 20px;
        &__label {
            display: inline-block;
            width: 8px;
            height: 8px;
            border: 1px solid $gray-text;
            border-radius: 50%;
        }
        &__radio {
            display: none;
        }
    }
}
#review_1:checked ~ .reviews__dots .reviews__dots__label[for="review_1"],
#review_2:checked ~ .reviews__dots .reviews__dots__label[for="review_2"],
#review_3:checked ~ .reviews__dots .reviews__dots__label[for="review_3"] {
    background-color: $gray-text;
}