.reviews__authors {
    display: flex;
    column-gap: 30px;
}
.reviews__author {
    flex: 1;
}
.reviews__author__message {
    height: 200px;
    margin-bottom: 65px;
    display: flex;
    align-items: center;
    background-color: var(--secondary-gray);
    border-radius: 10px;
    padding: 0px 20px;
    position: relative;
}
.reviews__author__message::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid var(--secondary-gray);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    bottom: -20px;
    left: 20%;
}
.reviews__author__message-text {
    color: var(--gray-text);
    text-align: center;
    margin: 0;
}
.reviews__author__information {
    display: flex;
    column-gap: 30px;
}
.reviews__author__name {
    margin: 15px 0 35px;
}
.reviews__author__post {
    margin: 0 0 15px;
}
.reviews__dots {
    display: none;
    column-gap: 50px;
    justify-content: center;
    margin-top: 20px;
}
.reviews__dots__label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid var(--gray-text);
    border-radius: 50%;
}
.reviews__dots__radio {
    display: none;
}
.reviews__dots__radio:checked + .reviews__dots__label {
    background-color: var(--gray-text);
}