.social-media {
    background-color: $social-media-backgound;
    padding-top: 0;
    padding-bottom: 0;
    & > .container {
        display: flex;
        column-gap: 30px;
    }
    &__description {
        flex: 5;
    }
    &__title {
        margin: 15px 0 30px;
    }
    &__text {
        color: $gray-text;
    }
    &__icons {
        flex: 7;
    }
}