.social-media {
    background-color: var(--social-media-backgound);
    padding: 0;
}
.social-media > .container {
    display: flex;
    column-gap: 30px;
}
.social-media__description {
    flex: 5;
}
.social-media__title {
    margin: 20px 0 38px;
}
.social-media__text {
    color: var(--gray-text);
}
.social-media__icons {
    flex: 7;
}
.icons__list {
    margin: 35px 0 0;
    padding: 0px;    
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.icons__link {
    display: block;
    width: 70px;
    line-height: 70px;
    text-align: center;
}
.icons__icon {
    vertical-align: middle;
}