.stylish {
    background: linear-gradient(to bottom, $half-opacity-black, $half-opacity-black), url(../images/stylish.webp);
    background-position: center bottom;
    position: relative;    
    text-align: center;
    &__title,
    &__description-text {
        color: $secondary-text;
    }
    &__title::after {
        border-color: $primary-background;
    }
    &__description-text {
        margin-bottom: 75px;
    }
    &__button {
        max-width: 370px;
    }
}