.tabs__selectors {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    text-align: center;
}
.tabs__selector {
    background-color: #fff;
    border: 1px solid #fff;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    font-family: Open Sans;
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 40px;
    width: 200px;
    margin-bottom: -1px;
    padding: 0;
    position: relative;
}
.tabs__selector_active {
    border-color: #C6CBCD;
    z-index: 2;
}
.tabs__tab {
    border: 1px solid #C6CBCD;  
    display: flex;
    position: relative;
    z-index: 1;
}
.tabs__description {
    padding: 55px 30px 55px 100px;
}
.tabs__title {
    margin: 0 0 65px;
}
.tabs__text {
    margin: 0 0 20px;
}
.tabs__button {
    width: 270px;
}
.tabs__image img {
    display: block;
}
.benefits__list {
    display: flex;
    list-style-type: none;
    text-align: center;
    padding: 0;
}
.benefits__list-item {
    padding: 15px;
}
.benefits__icon-block {
    width: 92px;
    height: 92px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 74px auto;
}
.benefits__list-item:hover .benefits__icon {
    transform: rotate(360deg);
    transition: 0.75s;
    transition-timing-function: ease-in-out;
}

