.tabs {
    padding-top: 100px;
    padding-bottom: 0;
}
.tabs__selectors {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    text-align: center;
}
.tabs__selector {
    background-color: var(--primary-background);
    border: 1px solid var(--primary-background);
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.77em;
    text-transform: uppercase;
    line-height: 40px;
    width: 200px;
    margin-bottom: -1px;
    padding: 0;
    position: relative;
}
.tabs__selector_active {
    border-color: var(--tabs-border);
    z-index: 2;
}
.tabs__tab {
    border: 1px solid var(--tabs-border);  
    display: flex;
    column-gap: 30px;
    position: relative;
    z-index: 1;
}
.tabs__description {    
    flex: 7;
    /*width: calc(7 / 12 * 100%);*/
}
.tabs__description-block {
    padding: 40px 0 55px 100px;
}
.tabs__title {
    margin: 0 0 65px;
}
.tabs__text {
    margin: 0 0 20px;
}
.tabs__button {
    width: 100%;
    max-width: 270px;
    margin-top: 10px;
}
.tabs__image {    
    flex: 5;
    /*width: calc(5 / 12 * 100%);*/
}
.tabs__image img {
    display: block;
    width: 100%;
}