.footer {    
    background-color: $secondary-background;
    color: $secondary-text;
    text-align: center;
    &__container {
        padding: 70px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        @media (max-width: 1200px) {
            padding: 45px 15px;
        }
        @media (max-width: 992px) {
            grid-template-columns: 1fr;
            padding-top: 35px;
            padding-bottom: 35px;
            gap: 70px;
        }
    }
    &__block {
        &-title {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 1em;
            text-transform: uppercase;
            margin-bottom: 30px;
            @media (max-width: 1200px) {
                margin-bottom: 15px;
            }
            @media (max-width: 992px) {
                margin-bottom: 35px;
            }
        }
        &-content {
            margin: 0;
        }
    }
    &__social {
        &-list {
            margin-top: 0px;
            justify-content: center;
            gap: 45px;
            &-item {
                width: auto;
            }
        }
        &-link {
            width: 30px;
            line-height: 30px;
            height: 30px;
        }
    }
    &__bottom {
        padding: 25px 15px;
        background-color: $dark-color;
        color: $bottom-text;
        @media (max-width: 1200px) {
            padding: 15px;
        }
        @media (max-width: 992px) {
            padding: 30px 15px;
        }
    }
    &__copyright {
        max-width: 370px;
        margin: auto;
        &_author {
            color: $secondary-text;
        }
    }
}